#image_wrapper {
    position: relative;
    background-color: #121212;
}

#image_to_verify {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#screen, #image_to_verify {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#screen {
    z-index: 1;
}

#tools {
    width: 100vw;
    height: 10vh;
}

#buttons_list .button {
    padding: 10px;
    font-size: 1em;
}

#buttons_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}